extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus tempor erat a ultrices.
                 Nullam sed varius neque, ut rutrum nulla. Phasellus suscipit dolor sapien, ut viverra lacus mattis non.
                 interdum velit hendrerit lobortis. Aenean vestibulum velit vitae enim commodo, in dapibus mauris gravida.

                p Maecenas varius rhoncus pulvinar. Proin tincidunt mauris vitae placerat dignissim. Praesent cursus nulla augue,
                 eget elementum libero mollis ac. Sed eu orci at lacus venenatis elementum luctus a ipsum. Curabitur arcu massa,
                 eleifend vitae venenatis id, ullamcorper non velit. Nunc pellentesque ligula vel mollis efficitur.

                p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam auctor sem risus,
                 quis dapibus augue molestie sit amet. Mauris non est imperdiet, molestie eros id, iaculis lectus.
                 Sed tempor non metus sed sagittis. Vivamus pharetra lacus sem, vel venenatis ante vulputate eu.
                 Nam erat nibh, tempor sit amet sapien ac, porttitor efficitur leo. Etiam vel dignissim tellus.
                 Fusce odio mi, sagittis quis efficitur porttitor, ultrices sit amet sapien. Curabitur ac sagittis ante.
                 Donec hendrerit vehicula ligula, ut blandit justo finibus in. Nullam ultrices quis elit nec eleifend.
                 Pellentesque malesuada fringilla ante sed ullamcorper. Nulla et consequat lacus, id malesuada lacus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src='img/icono_seguridad.svg',alt='icono seguridad',class='img-fluid md-4')
                    h2.mb-4 Seguridad
                    p Donec hendrerit vehicula ligula, ut blandit justo finibus in. Nullam ultrices quis elit nec eleifend.
                      Pellentesque malesuada fringilla ante sed ullamcorper. Nulla et consequat lacus, id malesuada lacus.

                .col-md-4
                    img(src='img/icono_destinos.svg',alt='icono destinos',class='img-fluid md-4')
                    h2.mb-4 Destinos
                    p Donec hendrerit vehicula ligula, ut blandit justo finibus in. Nullam ultrices quis elit nec eleifend.
                        Pellentesque malesuada fringilla ante sed ullamcorper. Nulla et consequat lacus, id malesuada lacus.

                .col-md-4
                    img(src='img/icono_precios.svg',alt='icono precios',class='img-fluid md-4')
                    h2.mb-4 Precios
                    p Donec hendrerit vehicula ligula, ut blandit justo finibus in. Nullam ultrices quis elit nec eleifend.
                        Pellentesque malesuada fringilla ante sed ullamcorper. Nulla et consequat lacus, id malesuada lacus.